<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseListController</servlet-name>
        <servlet-class>controller.CourseListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controller.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfileController</servlet-name>
        <servlet-class>controller.UpdateUserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailController</servlet-name>
        <servlet-class>controller.CourseDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCourseController</servlet-name>
        <servlet-class>controller.RegisterCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseController</servlet-name>
        <servlet-class>controller.CourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseAnalysisServlet</servlet-name>
        <servlet-class>controller.CourseAnalysisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonVideoController</servlet-name>
        <servlet-class>controller.LessonVideoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseListController</servlet-name>
        <url-pattern>/CourseList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfileController</servlet-name>
        <url-pattern>/UpdateUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailController</servlet-name>
        <url-pattern>/CourseDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCourseController</servlet-name>
        <url-pattern>/RegisterCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/CourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseAnalysisServlet</servlet-name>
        <url-pattern>/CourseAnalysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonVideoController</servlet-name>
        <url-pattern>/LessonVideoController</url-pattern>
    </servlet-mapping>
</web-app>
