<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Khai báo servlet Controller -->
    <servlet>

        <servlet-name>changePassword</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/ForgotPasswordController</url-pattern>

        <servlet-name>Controller</servlet-name>
        <servlet-class>controller.Controller</servlet-class>
    </servlet>
    <!-- Khai báo servlet BlogListServlet -->
    <servlet>
        <servlet-name>BlogListServlet</servlet-name>
        <servlet-class>controller.BlogListServlet</servlet-class>
    </servlet>
    <!-- Mapping servlet Controller -->
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <!-- Mapping servlet BlogListServlet -->
    <servlet-mapping>
        <servlet-name>BlogListServlet</servlet-name>
        <url-pattern>/blogList</url-pattern>

    </servlet-mapping>
    
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    
    <!-- Cấu hình session -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
